@import "./index.scss";
@import "./task.scss";

.error-message {
    color: #bd0000;
    display: block;
    font-size: 14px;
}

.warning-message {
    color: #AC7088;
    font-weight: 700;
}

.mb-20 {
    margin-bottom: 20px;
}